* {
  margin: 0px;
  padding: 0px;
  font-family: '微软雅黑', 'Microsoft Yahei', 'Hiragino Sans GB', 'tahoma', 'arial', '宋体';
  font-size: 13px;
}
.header{
    width:100%;
    min-width: 1423px;
    background:#333C39;
    height:80px;
	color:#666;
	line-height:80px;
	font-size:1.5em;
	
}
.main-color{
	color:#E61F57
}
.uk-navbar-nav>li{
  line-height:80px;
}
.uk-navbar-nav>li>a:active {
  background-color: #EAEFF9;
  color: #E61F57;

}
.uk-navbar-nav>li.uk-open>a, .uk-navbar-nav>li:hover>a, .uk-navbar-nav>li>a:focus {
  background-color: #EAEFF9;
  color: #E61F57;
  outline: 0;
}
.uk-navbar-nav>li.uk-open>a, .uk-navbar-nav>li:hover>a, .uk-navbar-nav>li>a:focus {
  background-color: #EAEFF9;
  color: #E61F57;
  outline: 0;
}
.uk-navbar-nav>li>a {
  display: inline-block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  height: 40px;
  padding: 0 15px;
  line-height: 40px;
  color: #666;
  font-size: 15px;
  font-family:"Helvetica Neue","Hiragino Sans GB","Microsoft YaHei","\9ED1\4F53",Arial,sans-serif
  font-weight: 400;
}

.uk-navbar {
  background: #EAEFF9;
  color: #666;
}

.header .logo{
	width:220px;
	display: inline-block;
}
.header .title{
	display:inline-block;
}
.header .user{
	float:right;
	margin-right:25px;
	font-size:0.7em;
}

.main{
    width:100%;
    text-align:center;
    min-width: 1423px;
}
.text-center{
	text-align:center;
}
.text-left{
	text-align:left;
}
.text-right{
	text-align:right;
}
.breadcrumb{
	margin:15px 15px;
}
.main .left{
    float:left;
    width:220px;
    background:#eeeeee;
    height:550px;
	min-height:550px;
	text-align:left;
}
.main .content{
    float:left;
    width:9px;
    min-width:1000px;
    background:#ffffff;
    height:550px;
    min-height:550px;
	text-align:left;
}
.panel-searche{
	min-height:70px;
	width:100%;
	border:1px solid #ddd;
	position:relative;
	margin:15px 15px;
	padding:15px;
}
.panel-searche-title{
	top:-10px;
	left:29px;
	position:absolute;
	background:#fff;
	padding:0 5px;
}
.panel-searche-result{
	margin:15px 15px;
	padding:15px 0;
}

.panel-searche-result .action-button{
	text-align:right;
}
.panel-searche-result .action-button button{
	margin-left:20px;
}
.clear{
    clear:both;
}
.footer{
    width:100%;
    min-width: 1423px;
    background:#F7F7F7;
    text-align:center;
    line-height:25px;
	padding:15px 0px;
}

.slider-item-li-2 > div { 
  position: absolute; 
  top: 12%; 
  left: 60%; 
  margin-left: -103px;
  width: 200px; 
  height: 200px; 
  border-radius: 50%; 
  border: 1px solid #fff;
  -webkit-transform-style: preserve-3d; 
  -webkit-transform: rotateX(80deg) rotateY(20deg);
  transform-style: preserve-3d; 
  transform: rotateX(80deg) rotateY(20deg);
}

.slider-item-li-2 > div:first-of-type:after {
  content: "";
  position: absolute;
  height: 40px;
  width: 40px;
  background: #fff;
  border-radius: 50%;
  -webkit-transform: rotateX(-80deg) rotateY(0);
  transform: rotateX(-80deg) rotateY(0);
  box-shadow: 0 0 25px #fff;
  -webkit-animation: nucleus_ 2s infinite linear;
  animation: nucleus_ 2s infinite linear;
  left: 50%;
  top: 50%;
  margin-top: -20px;
  margin-left: -20px;
}

.slider-item-li-2 > div:nth-of-type(2) {
  -webkit-transform: rotateX(-80deg) rotateY(20deg);
  transform: rotateX(-80deg) rotateY(20deg);
}

.slider-item-li-2 > div:nth-of-type(3) {
  -webkit-transform: rotateX(-70deg) rotateY(60deg);
  transform: rotateX(-70deg) rotateY(60deg);
}

.slider-item-li-2 > div:nth-of-type(4) {
  -webkit-transform: rotateX(70deg) rotateY(60deg);
  transform: rotateX(70deg) rotateY(60deg);
}

.slider-item-li-2 > div > div {
  width: 200px;
  height: 200px;
  position: relative;
  -webkit-transform-style: preserve-3d;
  -webkit-animation: trail_ 2s infinite linear;
  transform-style: preserve-3d;
  animation: trail_ 2s infinite linear;
}

.slider-item-li-2 > div > div:after {
  content: ""; 
  position: absolute; 
  top: -5px; 
  box-shadow: 0 0 12px #fff;
  left: 50%; 
  margin-left: -5px; 
  width: 5px; 
  height: 5px; 
  border-radius: 50%;
  background-color: #fff;
  -webkit-animation: particle_ 2s infinite linear;
  animation: particle_ 2s infinite linear;
}

.slider-item-li-2 > div:nth-of-type(2) > div,
.slider-item-li-2 > div:nth-of-type(2) > div:after {
  -webkit-animation-delay: -.5s;
  animation-delay: -.5s;
}

.slider-item-li-2 > div:nth-of-type(3)  > div,
.slider-item-li-2 > div:nth-of-type(3)  > div:after {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.slider-item-li-2 > div:nth-of-type(4) > div,
.slider-item-li-2 > div:nth-of-type(4) > div:after {
  -webkit-animation-delay: -1.5s;
  animation-delay: -1.5s;
}


.build {
  background-color: #4cc08c;
}

.monetize {
  background-color: #3199f4;
}

.monetize .icon {
  background-position: -3px 42px;
}

.grow {
  background-color: #f67823;
}
.grow .icon {
  background-position: -212px 38px;
}

.tab {
  display: inline-block;
  width: 290px;
  height: 200px;
  margin: 80px 30px;
  color: #fff;
  font-size: 20px;
  transition: 0.3s all;
}
.tab:hover{
	transform: translate(0px -20px);
    -webkit-transform: translate(0px,-20px);
	-ms-transform: translate(0px,-20px);
	-moz-transform: translate(0px,-20px);
	-o-transform: translate(0px,-20px);
}
.monetize:hover {
  color: #fff;
  text-decoration:blink;
}
.build:hover {
  color: #fff;
  text-decoration:blink;
}
.grow:hover {
  color: #fff;
  text-decoration:blink;
}

.banner ul li{
  width: 100%;
  min-width: 1423px;
  overflow: hidden;
}
  
.build .icon {
  background-position: -108px 22px;
}
.banner .icon {
  width: 80px;
  height: 103px;
  margin: 35px auto 20px;
}
.banner .icon {
  background-image: url('../images/TB1aRUeIpXXXXawXVXXSfPx9pXX-446-272.png');
  background-repeat: no-repeat;
  display: block;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.section_title {
  font-weight: normal;
  font-size: 48px;
  color: #333;
  margin-bottom: 60px;
  text-align: center;
}
ul {
  list-style: none;
}
.function_title {
  font-size: 20px;
  color: #333;
  margin-bottom: 20px;
  margin-top: 30px;
  text-align:left;
}
.function_title .en {
  color: #999;
  font-size: 14px;
  padding: 0 5px;
}
.clearfix {
  zoom: 1;
}
.clearfix {
}
.function_list li .item_icon {
  text-align: center;
}
.function_list li .item_icon .iconfont {
  font-size: 60px;
  color: #3199f4;
}
.iconfont {
  font-size: 16px;
  font-style: normal;
}
i, em {
  font-style: normal;
  font-weight: normal;
}
.function_list li .item_name {
  margin-top: 10px;
}
.item_name {
  font-size: 20px;
  color: #333;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
}
.item_desc {
  line-height: 20px;
  text-align: center;
}
.function_list .blank {
  border: 1px dashed #dcdcdc;
  background: #f9f9f9;
  width: 228px;
  height: 138px;
}
#monetize .item_detail {
  animation: monetize .7s forwards;
  -moz-animation: monetize .7s forwards;
  -webkit-animation: monetize .7s forwards;
  -o-animation: monetize .7s forwards;
}

#build .item_detail {
  animation: build .7s forwards;
  -moz-animation: build .7s forwards;
  -webkit-animation: build .7s forwards;
  -o-animation: build .7s forwards;
}
#grow .item_detail {
  animation: grow .7s forwards;
  -moz-animation: grow .7s forwards;
  -webkit-animation: grow .7s forwards;
  -o-animation: grow .7s forwards;
}

.item_detail {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  text-align: center;
  display: none;
}
.btn_detail {
  color: #fff;
  width: 70px;
  line-height: 36px;
  font-size: 16px;
  padding: 0 20px;
  margin: 80px auto 0;
  border: 1px solid #fff;
  display: block;
}
.btn_detail:hover{
	background:#fff;
	text-decoration:blink;
}

body, div, p, span, ul, li {
  padding: 0;
  margin: 0;
  line-height: 1;
}

.function_list li:first-child {
  margin-left: 0;
}
.function_list li {
  width: 230px;
  height: 140px;
  background-color: #f0f0f0;
  padding: 30px;
  float: left;
  margin-left: 13px;
  position: relative;
}
.function_list li:hover .item_detail {
  display: block;
}
.item_detail {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  text-align: center;
  display: none;
}
.btn_detail {
  color: #fff;
  width: 70px;
  line-height: 36px;
  font-size: 16px;
  padding: 0 20px;
  margin: 80px auto 0;
  border: 1px solid #fff;
  display: block;
}
#monetize .btn_detail:hover {
  color: #3199f4;
}

@-webkit-keyframes trail_ { 
    from {
        -webkit-transform: rotateZ(0deg);
    } to {
        -webkit-transform: rotateZ(360deg);
    }
}

@keyframes trail_ { 
    from {
        transform: rotateZ(0deg);
    } to {
        transform: rotateZ(360deg);
    }
}

@-webkit-keyframes particle_ { 
    from {
        -webkit-transform: rotateX(90deg) rotateY(0deg); 
        transform: rotateX(90deg) rotateY(0deg); 
    } to {
      -webkit-transform: rotateX(90deg) rotateY(-360deg);  
        transform: rotateX(90deg) rotateY(-360deg); 
    } 
}


@keyframes particle_ { 
    from {
        transform: rotateX(90deg) rotateY(0deg); 
    } to { 
        transform: rotateX(90deg) rotateY(-360deg); 
    } 
}

@keyframes nucleus_ { 
    0% {
        box-shadow: 0 0 0 transparent;
    } 50% { 
        box-shadow: 0 0 25px #fff;
    } 100% { 
        box-shadow: 0 0 0 transparent;
    }
}

@-webkit-keyframes nucleus_ { 
    0% {
        box-shadow: 0 0 0 transparent;
    } 50% { 
        box-shadow: 0 0 25px #fff;
    } 100% { 
        box-shadow: 0 0 0 transparent;
    }
}

@-webkit-keyframes rotate{
	from{-webkit-transform: rotate(0deg)}
	to{-webkit-transform: rotate(360deg)}
}
@-moz-keyframes rotate{
	from{-moz-transform: rotate(0deg)}
	to{-moz-transform: rotate(359deg)}
}
@-o-keyframes rotate{
	from{-o-transform: rotate(0deg)}
	to{-o-transform: rotate(359deg)}
}
@keyframes rotate{
	from{transform: rotate(0deg)}
	to{transform: rotate(359deg)}
}
@-webkit-keyframes rotate2{
	from{-webkit-transform: rotate(360deg)}
	to{-webkit-transform: rotate(0deg)}
}
@-moz-keyframes rotate2{
	from{-moz-transform: rotate(359deg)}
	to{-moz-transform: rotate(0deg)}
}
@-o-keyframes rotate2{
	from{-o-transform: rotate(359deg)}
	to{-o-transform: rotate(0deg)}
}
@keyframes rotate2{
	from{transform: rotate(359deg)}
	to{transform: rotate(0deg)}
}


@keyframes twinkling1 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes twinkling1 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


@keyframes twinkling2 {
  0% {
    opacity: 0.7;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0.7;
  }
}
@-webkit-keyframes twinkling2 {
  0% {
    opacity: 0.7;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0.7;
  }
}
@keyframes twinkling3 {
  0% {
    opacity: 0.3;
  }
  25% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}
@-webkit-keyframes twinkling3 {
  0% {
    opacity: 0.3;
  }
  25% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}


@keyframes twinkling4 {
  0% {
    opacity: 0.6;
  }
  20% {
    opacity: 0.3;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0.8;
  }
}
@-webkit-keyframes twinkling4 {
  0% {
    opacity: 0.6;
  }
  25% {
    opacity: 0.3;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}
@keyframes monetize {
    from {
        background: rgba(240,240,240,0.9)
    }

    to {
        background: rgba(49,153,244,0.9)
    }
}

@-webkit-keyframes monetize {
    from {
        background: rgba(240,240,240,0.9)
    }

    to {
        background: rgba(49,153,244,0.9)
    }
}

@keyframes build {
    from {
        background: rgba(240,240,240,0.9)
    }

    to {
        background: rgba(76,192,140,0.9)
    }
}

@-webkit-keyframes build {
    from {
        background: rgba(240,240,240,0.9)
    }

    to {
        background: rgba(76,192,140,0.9)
    }
}

@keyframes grow {
    from {
        background: rgba(240,240,240,0.9)
    }

    to {
        background: rgba(246,120,35,0.9)
    }
}

@-webkit-keyframes grow {
    from {
        background: rgba(240,240,240,0.9)
    }

    to {
        background: rgba(246,120,35,0.9)
    }
}
@font-face {
    font-family: 'FZLanTingHei';
    src: url('../fonts/FZLanTingHei.woff');
    src: url('../fonts/FZLanTingHei.eot?#iefix') format('embedded-opentype'),url('../fonts/FZLanTingHei.woff') format('woff'),url('../fonts/FZLanTingHei.ttf') format('truetype'),url('../fonts/FZLanTingHei.svg#FZLanTingHei') format('svg');
    font-weight: normal
}
