<div ng-controller="indexActivityController">
    <div class="scrollable background-white">
		<div class="scrollable-content relative">		
			<i class="closer2" ng-click="close();"></i>
			<div id="activity-navigator-1-page" class="activity-navigator-1">

			</div>
			<div style="background: url(/image/activity/bg.jpg) top center no-repeat; background-size:100% 100%;">
				<div id="activity-navigator-2-page" class="activity-navigator-2">
					<div class="slider_box" style="width:100%;height:auto;">
						<div id="index-slider-page" class="scroll_slider">
							<div class="pic_group">
							</div>
							<div id="index-serial-number-page" class="serial-number" style="z-index:5; ">
							</div>
						</div>
					</div>
				</div>

				<div id="activity-navigator-3-page" class="activity-navigator-3">

				</div>
			</div>
		</div>
	 </div>
	 <div class="div-nav-music-background"></div>
	 <div id="div-nav-music-control" class="div-nav-music" ng-click="ctrPlay()"></div>
	 <div class="hide">
		 <audio controls="controls" id="audioControl" loop="loop">
		   <source src="/image/activity/song.mp3" type="audio/mpeg">
		   <source src="/image/activity/song.wav" type="audio/ogg">         
		 Your browser does not support the audio tag.
		 </audio>
		 <div ng-init="init();"></div>
	 </div>
</div>
