<style>
    #viewport {
        position: relative;
        width: 100%;
        margin: 0 auto;
        background: #eee;
        overflow: hidden;
    }

    #wrapper {
        width: 100%;
        margin: 0 auto;
    }

    #scroller {
        z-index: 1;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        width: 400%;
        min-height: 30px;
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-text-size-adjust: none;
        -moz-text-size-adjust: none;
        -ms-text-size-adjust: none;
        -o-text-size-adjust: none;
        text-size-adjust: none;
        background-color: #eee;
    }

    .slide {
        width: 25%;
        float: left;
    }

    #indicator {
        position: relative;
        width: 55px;
        height: 10px;
        margin: 10px auto;
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAUBAMAAABohZD3AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QUGCDYztyDUJgAAAB1pVFh0Q29tbWVudAAAAAAAQ3JlYXRlZCB3aXRoIEdJTVBkLmUHAAAAGFBMVEUAAADNzc3Nzc3Nzc3Nzc3Nzc3Nzc3///8aWwwLAAAABnRSTlMAX5Ks3/nRD0HIAAAAAWJLR0QHFmGI6wAAAFtJREFUGFdjYGBgEHYNMWRAAJE0IHCEc5nSwEABxleD8JOgXMY0KBCA8FlgfAcIXwzGT4TwzWD8ZAjfDcZPgfDDYPxU7Hx09ejmoduH7h5096L7B8O/6OGBGl4APYg8TQ0XAScAAAAASUVORK5CYII=);
        background-size:15px;
        margin-top: -25px;
    }

    #dotty {
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 5px;
        background: #F15155;
    }
    a:focus {
      color: #0055b3;
      text-decoration: underline;
    }

    a:focus {
      outline: none;
      outline: 0;
      outline-offset: 0px;
    }
    a:active,
    a:hover {
        outline: 0;
    }
    #viewport.larger {
        position: absolute;
        z-index: 99999;
        width: 100%;
        top: 4.5em;
    }
</style>
<div>
    <ng-include src="'views/goods/download.html'"></ng-include>
    <!--<div class="btn-back new {{showDownload == true?'':''}}" ng-click="back()">-->
    <div class="btn-back new" ng-click="back()">
        <div class="btn-left new">
        </div>
    </div>
    <div class="scrollable">
        <div class="scrollable-content background-product">
            <!--<div ng-show="showDownload == true" class="download-block">
            </div>
            <div class="slider_box">
                <div id="slider" class="scroll_slider">
                    <div class="pic_group">
                    </div>
                    <div class="pager_control new hide">
                        <span id="spanCurPage">0</span> / <span id="spanTotalCount">0</span>
                    </div>
                </div>
                <div class="slider-bar">
                    <div class="div-favorite">
                        <img src="image/icon_favorite.png" alt="" style="display:none;"/></div>
                    <div class="div-share">
                        <img src="image/icon_share.png" alt="" style="display:none;"/></div>
                </div>
            </div>-->

            <div id="viewport" class="preventDefault">
                <div id="wrapper">
                    <div id="scroller">
                    </div>
                    <div class="pager_control new hide">
                        <span id="spanCurrPage">0</span> / <span id="spanTotalsCount">0</span>
                    </div>
                </div>
            </div>
            <div id="indicator" class="hide">
                <div id="dotty"></div>
            </div>
            
            <div class="list-group product-style">
                <div class="background-white">
                    <div class="list-group-item media" style="padding:10px 0;margin:0 15px;">                    
                        <div class="media-body product-cur-name-new">
                            {{product.name}}
                        </div>
                        <div>
                            <div class="pull-left">
                                <div class="product-price-new">
                                    <span class="promotePriceNew" style="margin-left: -0.2em;">￥{{product.promotePrice}}</span> 
                                    <span class="shopPriceNew" style="float:none;margin-top: 0em;" ng-if="(product.shopPrice && product.shopPrice!=0 && product.shopPrice!='0' && product.shopPrice!='0.0' && product.shopPrice!='0.00')">￥{{product.shopPrice}}</span>
                                </div>
                            </div>
                            <div class="pull-left">
                                <div class="product-price-new"> 
                                    <span class="shopPriceNew" style="line-height:2.2em;float:none;text-decoration:none;">&nbsp;&nbsp;约：NT$ {{product.twPrice}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="background-white" ng-if="product.activity && product.activity.length>0">
                    <div class="list-group-item media product-activities">
                        <div class="product-activity" ng-repeat="a in product.activity">                   
                            <span class="product-activity-title"><b>{{a.type}}</b></span>
                            <span class="product-activity-content">{{a.tag}}</span>
                        </div>
                    </div>
                </div>
                <div id="orderNumber" style="display:none;">
                    <div class="list-group-item media" style="width: 94%;margin-left: 3%;padding-left: 0;padding-right: 0;">
                        <div class="order-num fullwidth">
                            <div class="title">购买数量</div>
                            <div class="modify-area">
                                <div class="input-group">
                                    <input type="hidden" value="{{product.promotePrice}}" />
                                    <div class="input-group-addon num-addon addon-minus"
                                        onclick="reduceNum(this);">
                                    </div>
                                    <input style="width:45px;" value="{{product.num}}" class="form-control input-num" type="text" onblur="countTotal(this);" onkeydown="checkNumber(this,false);" onkeyup="checkNumberTwo(this,false);">
                                    <div class="input-group-addon num-addon" onclick="addNum(this);">
                                    </div>
                                </div>
                            </div>                            
                        </div>
                        <div><span class="product-inventory">库存：{{product.goodsNum}}</span></div>
                    </div>
                    <div class="media">
                        <div class="product-price-new" style="text-align:left;width: 94%;margin-left: 3%;">
                            <span style="color:#000000;font-weight: normal;">总计</span>
                            <span class="promotePriceNew promotePriceNewTotal" style="display:inline-block;">￥{{product.promotePrice}}</span>                            
                        </div>
                        <button type="button" class="btn btn-default btn-add-cart-buy-cancel middlewidth" onclick="closeDialog()">
                                取消</button>
                        <button type="button" class="btn btn-default btn-add-cart-new middlewidth btn-add-to-cart">
                        加入购物袋</button>
                    </div>
                </div>
                <div class="list-group-item media service-item">
                    <ul>
                        <li class="item">
                            <div class="img-service img-free">
                            </div>
                            包邮至回程机场</li>
                        <li class="item">
                            <div class="img-service img-payout">
                            </div>
                            超时送达赔偿</li>
                        <li class="item">
                            <div class="img-service img-real">
                            </div>
                            正品保障</li>
                        <li class="item">
                            <div class="img-service img-refund">
                            </div>
                            支持退款</li>
                    </ul>
                </div>
            </div>
            <div class="product-data-box content-margin-top">
                <div class="btn-group justified">
                    <div class="btn">
                        <div>
                            销量</div>
                        <span>{{product.saleNum}}件</span>
                    </div>
                    <div class="btn">
                        <div>
                            分享</div>
                        <span>{{product.shareNum}}次</span>
                    </div>
                    <div class="btn">
                        <div>
                            收藏</div>
                        <span>{{product.favoriteNum}}次</span>
                    </div>
                </div>
            </div>
            <div class="list-group product-style content-margin-top">
                <a class="list-group-item item-title comment-title" ng-click="viewComments()">
                    <div class="pull-right">
                        <div class="div-right right-pos">
                        </div>
                    </div>
                    <div class="media-body">
                        评价详情 ({{product.commentNum}})
                        <div class="div-rate-total" ng-show="product.commentNum > 0">
                            <span class="span-rate-total">{{product.avgStar}}</span>
                            <div class="rateTotal">
                            </div>
                        </div>
                    </div>
                </a>
                <div class="list-group-item product-comment" ng-show="product.comment != null">
                    <span class="dark-red avatar-name">{{product.comment.nickName}}</span>
                    <div class="itemRate right">
                    </div>
                    <div class="comment-content">
                        {{product.comment.content}}
                    </div>
                    <div>
                        <span class="comment-date">{{product.comment.date}}</span></div>
                    <div class="clear">
                    </div>
                    <div class="hide" ng-if="isGo()">
                    {{go()}}
                    </div>
                </div>
            </div>
            <div class="list-group product-style content-margin-top">
                <div class="list-group-item item-title">
                    产品介绍
                </div>
                <div class="list-group-item product-content">
                </div>
            </div>
            <div class="nav-bottom-block">
            </div>
        </div>
    </div>
    <div class="div-nav-cart-background">
    </div>
    <div class="div-nav-cart" ng-controller="cartNumController" ng-click="cart()">
        <div class="cart-num-mark" ng-show="cartNum() > 0">
            {{cartNum()}}</div>
        <div class="cart-name">
            购物袋</div>
    </div>
    <div class="nav-bottom-background">
    </div>
    <div class="nav-bottom new">
        <div class="media">
            <div class="pull-left div-add-cart">
                <button type="button" class="btn btn-default btn-add-cart-new" ng-click="addToCart(product.goodsNum)">
                    加入购物袋</button>
            </div>
            <div class="media-body">
                <button type="button" class="btn btn-default btn-buy-new" ng-click="go(product.goodsNum)">
                    立即购买</button>
            </div>            
        </div>
    </div>
</div>