<style>
	.order-detail-area{
		padding-left:15px;
		padding-right:15px;
		background-color:#fff;
		border-bottom:1px solid #ECECEC;
		border-top:1px solid #ECECEC;
	}
	.list-group, .list-group-item{
		padding-left:0px;
		padding-right:0px;
		border-bottom:1px solid #ECECEC;
	}
	.pay-area .list-group-item.media.product-item:not(:last-child) {
		border-bottom-style: solid;
		}
	.list-head{
		border:0px;
		padding-left:0px;
		padding-right:0px;
		border-bottom:1px solid #ECECEC;
	}
	.border-bottom-0{
		border-bottom:0px;
	}
	.col-xs-1,.col-xs-10{
		padding-left:0px;
		padding-right:0px;
		padding-top:10px;
		padding-bottom:10px;
	}
	.col-xs-1 img,.col-xs-10 img{
		width:1em;
	}
	.col-xs-1 a,.col-xs-10 a{
		color:#000;
	}
	.col-xs-1 a span,.col-xs-10 a span{
		color:#666;
	}
</style>
<div ng-controller="taxFreeStoreController">	
	<!-- Navbars -->
    <div  class="navbar navbar-app nav-main" ng-show="isShowNavbar">
        <div class="navbar-brand navbar-brand-center">
            升恒昌免税店             
        </div>
        <div class="btn-group pull-left" ng-click="back()">
            <div class="btn btn-navbar sidebar-toggle">
                <div class="btn-to-back">
                </div>
            </div>
        </div>
    </div>
    <div class="scrollable background-white" style="background:#fbf8f1;">
		<div class="scrollable-content relative">	
			<div class="nav-main-block" ng-show="isShowNavbar"></div>	
			


				<div class="pay-area padding-top-0 order-detail-area">
                    <div>
                    	<img src="image/activity/xrhl/dsf_coupon.jpg?20150123" style="width:100%;"/>
                        <div class="list-head">
                            出示即可享受优惠
                        </div>
                    </div>
                </div>


                <div class="pay-area padding-top-0 order-detail-area" style="margin-top:15px;">
                    <div>
                        <div class="list-head">
                            商家信息
                        </div>
                        <div class="list-group" style="border-bottom:0px;">
                            <div class="col-xs-1">
								<img src="image/icon_address.png" />
                            </div>
                            <div class="col-xs-10">
								<a href="tel:00886-2-2502-8899" style="border-bottom:0px;">
								   台北市升恒昌免税店-民权店<br/>
								   <span>10476 台北市民权东路3段72号B1（近复兴北路）</span>
								</a> 
                            </div>
                            <div class="col-xs-1">
                            	<a href="tel:00886-2-2502-8899" style="border-bottom:0px;">
									<img src="image/mobile.png" />
								</a>
                            </div>

							<div class="clear"></div>

                            <div class="col-xs-1">
								<img src="image/icon_address.png" />
                            </div>
                            <div class="col-xs-10">
								<a href="tel:00886-2-8792-3999" style="border-bottom:0px;">
								   台北市升恒昌免税店-内湖店<br/>
								   <span>台北市内湖区金庄路129号</span>
								</a> 
                            </div>
                            <div class="col-xs-1">
                            	<a href="tel:00886-2-8792-3999" style="border-bottom:0px;">
									<img src="image/mobile.png" />
								</a>
                            </div>
                            

                            <div class="clear"></div>                           
                        </div>
                    </div>
                </div>

                <div class="pay-area padding-top-0 order-detail-area" style="margin-top:15px;">
                    <div>
                        <div class="list-head border-bottom-0">
                            商铺简介
                        </div>
                        <div class="list-group" style="border-bottom:0px;">
                            <div class="list-group-item media product-item" style="border-bottom:0px;">
                                <div style="line-height:28px;">
                                	升恒昌为全台湾最大免税店集团，以全新创意的方式经营，以店中店与精品专门店的型态，提供流行零时差的商品系列，首创以精品形象柜的方式，展示台湾各式美食糕点及文化纪念品，以文化体验、精致休憩娱乐到购物的全方位体验，行销台湾文化，带动观光产业。
                            	</div>
								<img src="image/activity/xrhl/dsf.jpg?20150123" style="width:100%;"/>
                            	<div style="line-height:28px;">
									经营范围<br/>
										GUCCI、NIKE、TOD'S等国际精品；各类精良腕表；化妆品折扣超市；精美珠宝饰品；巧克力；3C数码商品；台湾烟酒副食品等。
										<br/>
										付款方式：现金、外币、信用卡皆可使用
										<br/>
										<br/>
										台北市升恒昌免税店（预售中心）<br/>
										1）台北市升恒昌免税店-民权店<br/>
										&nbsp;地址：台北市民权东路3段72号B1（近复兴北路）<br/>
										&nbsp;交通：捷运到中山国中站下车步行即可到达<br/>
										&nbsp;电话：00886-2-2502-8899 ext 821<br/>
										&nbsp;营业时间： 8:00-21:00 全年无休<br/>
										2）台北市升恒昌免税店-内湖店<br/>
										&nbsp;地址：台北市内湖区金庄路129号<br/>
										&nbsp;电话：00886-2-8792-3999 ext 2<br/>

										&nbsp;<span style="color:#fff;">电话：</span>00886-2-8792-3999 ext 1<br/>
										&nbsp;营业时间： 8:00-21:00 全年无休<br/><br/><br/>
                            	</div>
                            </div>                     
                        </div>
                    </div>
                </div>




			
		</div>
	 </div>	 
</div>