<style>
	img{
		border:0;
		margin:0;
		vertical-align: bottom;
	}
	.activity-panel{
		max-width:640px;
		width:100%;
		text-align:center;
		margin:0 auto;
	}
	.img-panel{
		font-size:0 ;
		position:relative;
	}
	.img-panel table{
		width:100%;
		max-width:640px;
		background:#83D7FB;
	}
	.img-panel table tr{
		border:0;
	}
	.img-panel table tr td{
		border:0;
	}
</style>
<div ng-controller="activitytwGift_V4Controller">
	<div id="shareHint" ng-click="fadeOutShare();" style="display:none;position: fixed;
				background: #000000;
				width: 100%;
				top: 0;
				left: 0;
				z-index: 99999999;
				opacity: .8;
				height: 100%;">
		<img src="image/activity/hint-1.png" style="position: fixed;width:55%;left:2em;top:2.8em;"/>
		<img src="image/activity/hint-2.png" style="position: fixed;width:30%;right:1em;"/> 
	</div>
	<!-- Navbars -->
    <div  class="navbar navbar-app nav-main" ng-show="isShowNavbar">
        <div class="navbar-brand navbar-brand-center">
            {{activityInfo.activity.name}}         
        </div>
        <div class="btn-group pull-left" ng-click="back()">
            <div class="btn btn-navbar sidebar-toggle">
                <div class="btn-to-back">
                </div>
            </div>
        </div>
    </div>
    <div class="scrollable background-white">
		<div class="scrollable-content relative background-white" style="background:#EA618D;">	
			<div class="nav-main-block" ng-show="isShowNavbar"></div>
			<div class="activity-panel">
				
				<div class="img-panel">
					<img src="image/activity/twGift/t4/01.jpg?asdfsdf"/>
				</div>

				<div class="img-panel">
					<img src="image/activity/twGift/t4/02.jpg?asdfsdf" ng-click="buyNow(0,2)"/>
				</div>

				<div class="img-panel">
					<img src="image/activity/twGift/t4/03.jpg?asdfsdf"/>
				</div>

				<div class="img-panel">
					<img src="image/activity/twGift/t4/04.jpg?asdfsdf"/>
				</div>

				<div class="img-panel">
					<img src="image/activity/twGift/t4/05.jpg?asdfsdf" ng-click="buyNow(1,2)"/>
				</div>

				<div class="img-panel">
					<img src="image/activity/twGift/t4/06.jpg?asdfsdf"/>
				</div>

				<div class="img-panel">
					<img src="image/activity/twGift/t4/07.jpg?asdfsdf" ng-click="buyNow(2,2)"/>
				</div>

				<div class="img-panel">
					<img src="image/activity/twGift/t4/17.08.jpg?asdfsdf"/>
				</div>

				<div class="img-panel">
					<img src="image/activity/twGift/t4/17.09.jpg?asdfsdf"/>
				</div>
				<div class="img-panel">
					<img src="image/activity/twGift/t4/17.10.jpg?asdfsdf"/>
				</div>
				<div class="img-panel">
					<img src="image/activity/twGift/t4/17.11.jpg?asdfsdf"/>
				</div>
			</div>
			
		</div>
	 </div>

	
</div>