<!DOCTYPE html>
<html ng-app="eBay">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <link type="text/css" rel="stylesheet" href="css/index.css"/>
    <script type="text/javascript" src="js/zepto.min.js"></script>
    <script type="text/javascript" src="js/angularjs.js"></script>
    <title></title>
</head>
<body>
  <p class="reg-title">注册</p>
  <div class="viewport">
    <form name="myForm" ng-controller="regController">
     <div class="reg-content">
       <div class="item">
           <label for="reg-account">手机号</label>
           <input type="text" name="reg-account" placeholder="11位数字" length="11" ng-model="data.reg-account"/>
       </div>
       <div class="item">
             <label for="reg-pwd">密码</label>
             <div class="get-code-wrap">
                 <input type="password" name="reg-pwd" placeholder="4位数字" ng-model="data.reg-pwd"/>
                 <a href="javascript:;" class="get-code">获取验证码</a>
             </div>
       </div>
       <div class="item">
             <label for="reg-pwd">密码</label>
             <input type="password" name="reg-pwd" placeholder="6-20位字母、数字和字符" ng-model="data.reg-pwd"/>
       </div>
       <div class="item">
             <label for="reg-invitcode">邀请码</label>
             <input type="text" name="reg-invitcode" placeholder="输入X位邀请码" ng-model="data.reg-invitcode"/>
       </div>
       <div class="item">
             <label for="reg-name">姓名</label>
             <input type="text" name="reg-name" placeholder="您的真实姓名" ng-model="data.reg-name"/>
       </div>
     </div>
      <a href="javascript:;" class="reg-ok" ng-click="regsiter()">确定</a>
      <a href="javascript:;" class="reg-fast-lg">已有账号，直接登录</a>
    </form>
  </div>
  <script type="text/javascript" src="js/index.js"></script>
</body>
</html>