<div ng-controller="myOrderController">
    <!-- Navbars -->
    <div class="navbar navbar-app nav-main" ng-controller="navbarController">
        <div class="navbar-brand navbar-brand-center">
            我的订单
        </div>
        
        
       
    </div>
    <div class="scrollable">
        <div class="scrollable-content background-home background-weixin-home">
            <div class="myOrder-content">              
                <div id="divMyOrder" class="myOrder-content">  
                    <div class="nav-main-block"></div>                   
                    <div class="myOrder-item">
                        <a href="">
                            <div class="myOrder-item-1 item-0">
                                <img src="/image/myOrder_1.png">
                                <span>商品订单</span>
                                <img src="/image/icon_right.png" class="img-right"/>
                            </div>
                        </a>
                        <a href="">
                            <div class="myOrder-item-1">
                                <img src="/image/myOrder_2.png">
                                <span>接送机订单</span>
                                <img src="/image/icon_right.png" class="img-right"/>
                            </div>
                        </a>
                        <a href="">
                            <div class="myOrder-item-1">
                                <img src="/image/myOrder_3.png">
                                <span>wifi订单</span>
                                <img src="/image/icon_right.png" class="img-right"/>
                            </div>
                        </a>
                        <a href="#/myFreeOrder">
                            <div class="myOrder-item-1">
                                <img src="/image/myOrder_3.png">
                                <span>人品免单商品订单</span>
                                <img src="/image/icon_right.png" class="img-right"/>
                            </div>
                        </a>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</div>
