<div ng-controller="buyFreeController">
    <!-- Navbars -->
    <div class="navbar navbar-app nav-main">
        <div class="navbar-brand navbar-brand-center">
            联系信息
        </div>
    </div>
    <div class="scrollable">
        <div class="scrollable-content background-home background-weixin-home">
            <div class="nav-main-block"></div>
            <div class="buyFree">                  
                <div class="buyFree_img">
                    <img src="/image/easyHands_1.png" /> 
                </div>
                <div class="buyFree_text">
                    <span>信息已提交</span>
                </div>
                <div class="buyFree_text">
                    <span>您可以释放双手尽享轻松旅途了</span>
                </div>
            </div>
        </div>
    </div>
</div>
