<div ng-controller="myFreeOrderController">
    <!-- Navbars -->
    <div class="navbar navbar-app nav-main" ng-controller="navbarController">
        <div class="navbar-brand navbar-brand-center">
            人品免单
        </div>
        <div class="btn-group pull-left" ng-click="back()">
            <div class="btn btn-navbar sidebar-toggle">
                <div class="btn-to-back">
                </div>
            </div>
        </div>
       
    </div>
    <div class="scrollable">
        <div class="scrollable-content background-home background-weixin-home">
            <div>              
                <div id="divMyFreeOrder">  
                    <div class="nav-main-block"></div>
                    <div class="myFreeOrderProfiles">
                        <img src="/image/icon_avatar.png" />
                        <img src="/image/icon_avatar.png" />
                        <img src="/image/icon_avatar.png" />
                        <img src="/image/icon_avatar.png" />
                        <img src="/image/icon_avatar.png" />
                        <img src="/image/icon_avatar.png" />
                        <img src="/image/icon_avatar.png" />
                        <img src="/image/icon_avatar.png" />
                    </div>
                    <div class="myFreeOrder">
                        <div>哇！人品爆棚哦！</div>
                        <div>已经有这么多朋友通过您下了订单</div>
                    </div>
                    <div class="myFreeOrder">
                        <div>您可享受够轻松台湾VIP待遇</div>
                        <div class="money">免单￥5423人名币</div>
                    </div>
                    <div class="myFreeOrder">
                        <button class="btn">继续分享</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>