<style>
	img{
		border:0;
		margin:0;
		vertical-align: bottom;
	}
	.activity-panel{
		max-width:640px;
		width:100%;
		text-align:center;
		margin:0 auto;
	}
	.img-panel{
		font-size:0 ;
		position:relative;
	}
	.img-panel table{
		width:100%;
		max-width:640px;
		background:#83D7FB;
	}
	.img-panel table tr{
		border:0;
	}
	.img-panel table tr td{
		border:0;
	}
</style>
<div ng-controller="nationalDayController">
	<div id="shareHint" ng-click="fadeOutShare();" style="display:none;position: fixed;
				background: #000000;
				width: 100%;
				top: 0;
				left: 0;
				z-index: 99999999;
				opacity: .8;
				height: 100%;">
		<img src="image/activity/hint-1.png" style="position: fixed;width:55%;left:2em;top:2.8em;"/>
		<img src="image/activity/hint-2.png" style="position: fixed;width:30%;right:1em;"/> 
	</div>
	<!-- Navbars -->
    <div  class="navbar navbar-app nav-main" ng-show="isShowNavbar">
        <div class="navbar-brand navbar-brand-center">
            {{activityInfo.activity.name}}         
        </div>
        <div class="btn-group pull-left" ng-click="back()">
            <div class="btn btn-navbar sidebar-toggle">
                <div class="btn-to-back">
                </div>
            </div>
        </div>
    </div>
    <div class="scrollable background-white">
		<div class="scrollable-content relative background-white" style="background:#EA618D;">	
			<div class="nav-main-block" ng-show="isShowNavbar"></div>
			<div class="activity-panel">
				
				<div class="img-panel">
					<img src="image/activity/nationalDay/01.jpg?asdfsdf"/>
				</div>
				
				<div class="img-panel">
					<img src="image/activity/nationalDay/02.jpg?asdfsdf"/>
				</div>
				<div class="img-panel">
					<img src="image/activity/nationalDay/03.jpg?asdfsdf"/>
				</div>
				
				<div class="img-panel">
					<table style="width:100%;max-width:640px;" border="0" cellspacing="0" cellpadding="0">
						<tr>							
							<td style="width:50%">
								<img src="image/activity/nationalDay/04.jpg?20150422" ng-click="goTo(1);"/>
							</td>
							<td style="width:50%">
								<img src="image/activity/nationalDay/05.jpg?20150422" ng-click="goTo(2);"/>
							</td>
						</tr>
					</table>
				</div>
				
				<div class="img-panel">
					<table style="width:100%;max-width:640px;" border="0" cellspacing="0" cellpadding="0">
						<tr>							
							<td style="width:50%">
								<img src="image/activity/nationalDay/06.jpg?20150422" ng-click="goTo(3);"/>
							</td>
							<td style="width:50%">
								<img src="image/activity/nationalDay/07.jpg?20150422" ng-click="goTo(4);"/>
							</td>
						</tr>
					</table>
				</div>
				
				<div class="img-panel">
					<table style="width:100%;max-width:640px;" border="0" cellspacing="0" cellpadding="0">
						<tr>							
							<td style="width:50%">
								<img src="image/activity/nationalDay/08.jpg?20150422" ng-click="goTo(5);"/>
							</td>
							<td style="width:50%">
								<img src="image/activity/nationalDay/09.jpg?20150422" ng-click="goTo(6);"/>
							</td>
						</tr>
					</table>
				</div>
				

				<div class="img-panel">
					<img src="image/activity/nationalDay/10.jpg?asdfsdf"/>
				</div>
				
				<div class="img-panel">
					<table style="width:100%;max-width:640px;" border="0" cellspacing="0" cellpadding="0">
						<tr>							
							<td style="width:50%">
								<img src="image/activity/nationalDay/11.jpg?20150422" ng-click="goTo(7);"/>
							</td>
							<td style="width:50%">
								<img src="image/activity/nationalDay/12.jpg?20150422" ng-click="goTo(8);"/>
							</td>
						</tr>
					</table>
				</div>
				
				<div class="img-panel">
					<table style="width:100%;max-width:640px;" border="0" cellspacing="0" cellpadding="0">
						<tr>							
							<td style="width:50%">
								<img src="image/activity/nationalDay/13.jpg?20150422" ng-click="goTo(9);"/>
							</td>
							<td style="width:50%">
								<img src="image/activity/nationalDay/14.jpg?20150422" ng-click="goTo(10);"/>
							</td>
						</tr>
					</table>
				</div>
				
				<div class="img-panel">
					<table style="width:100%;max-width:640px;" border="0" cellspacing="0" cellpadding="0">
						<tr>							
							<td style="width:50%">
								<img src="image/activity/nationalDay/15.jpg?20150422" ng-click="goTo(11);"/>
							</td>
							<td style="width:50%">
								<img src="image/activity/nationalDay/16.jpg?20150422" ng-click="goTo(12);"/>
							</td>
						</tr>
					</table>
				</div>
				<div class="img-panel">
					<img src="image/activity/nationalDay/17.jpg?asdfsdf"/>
				</div>
				
				<div class="img-panel">
					<table style="width:100%;max-width:640px;" border="0" cellspacing="0" cellpadding="0">
						<tr>							
							<td style="width:50%">
								<img src="image/activity/nationalDay/18.jpg?20150422" ng-click="goTo(13);"/>
							</td>
							<td style="width:50%">
								<img src="image/activity/nationalDay/19.jpg?20150422" ng-click="goTo(14);"/>
							</td>
						</tr>
					</table>
				</div>
				
				<div class="img-panel">
					<img src="image/activity/nationalDay/20.jpg?asdfsdf"/>
				</div>
				
				
			</div>
			
		</div>
	 </div>

	
</div>