<div ng-controller="buyFreeController">
    <!-- Navbars -->
    <div class="navbar navbar-app nav-main">
        <div class="navbar-brand navbar-brand-center">
            联系信息
        </div>
    </div>
    <div class="scrollable">
        <div class="scrollable-content background-home background-weixin-home">
            <div class="nav-main-block"></div>
            <div class="buyFree">                  
                <div class="buyFree_img">
                    <img src="/image/buyFree.png" /> 
                </div>
                <div class="buyFree_text">
                    <span>您还没购买商品暂不能分享哦~</span>
                </div>
            </div>
            <div class="main-btn-50">
                <button class="btn" ng-click="buy();">马上购买</button>
            </div>
        </div>
    </div>
</div>
