<div ng-controller="easyHandsDownController">
    <!-- Navbars -->
    <div class="navbar navbar-app nav-main">
        <div class="navbar-brand navbar-brand-center">
            抱走小蜜
        </div>
    </div>
    <div class="scrollable">
        <div class="scrollable-content background-home background-weixin-home">
            <div class="nav-main-block"></div>
            <div class="easyHandsDown">
                <img src="/image/easyHands_dowon.png" /> 
            </div> 
            <div class="main-btn-50 main-btn-red" style="margin-bottom:50px;">
                <button class="btn">立即下载</button>
            </div>
        </div>
    </div>
</div>
